/* Color */
$white              : #fff;
$black              : #000;
$gray               : #F8F9FC;
$primary            : #0C1B36;
$secondary          : #F38A04;
$hover              : #F99D27;
$marigold           : #FAD09B;
$light_black        : #595959;
$blob               : #fff2e8;
$border_color       : #D9D9D9;
$gray_text          : #8C8C8C;
$gray_nine          : #262626;
$light_gray         : #BFBFBF;
$pink_gradient      : linear-gradient( 120.43deg,rgba(12,27,54,0.5) 20.43%,rgba(80,37,90,0.5) 65.29%,rgba(243,138,4,0.5) 109.23% );

/* Font Typo */
$body-font          : 'Nunito Sans', sans-serif;
$heading-font       : 'Merriweather', serif;
$ooohBaby           : "Oooh Baby",cursive, sans-serif;